.contactSitterButton {
	color: blue !important;
}
.parentDashSitters {
	margin-bottom: 15px;
}
.parentDashWelcome {
	margin: auto;
}

@media only screen and (min-width: 600px) {
	.parentDashSitters {
		display: flex;
		flex-wrap: wrap;
	}
}
