.contactFormHeader {
	text-align: center;
	display: inline;
}

.contactForm {
	text-align: center;
}

.textArea {
	width: 200px;
	height: 300px;
	margin-top: 20px;
}

.exitContactForm {
	float: right;
	margin-right: 30%;
}

.contactSubject {
	padding-left: 370px;
}

.contactSendBtn {
	width: 80px;
}
