.sitterBio {
	display: flex;
	justify-content: center;
	text-align: center;
	margin-top: 4%;
}

.dateNeeded,
.sitterLocation,
.sitterRate,
.sitterHeader,
.zipcode,
.bio,
.sitterBioFormButton {
	font-size: 18px;
}

.sitterInput {
	margin-bottom: 20px;
	border: none;
}

.sitterDescription {
	font-size: 1.1em;
}

.sitterInputButton {
	width: 100px;
}

.dateAvailable {
	font-size: 17px;
}

.hoursAvailable {
	font-size: 18px;
}

.sitterAdditionalInfoInput {
	height: 100px;
	vertical-align: top;
	text-align: left;
	white-space: nowrap;
	overflow: hidden;
}

@media only screen and (min-width: 438px) {
	.sitterBioForm {
		display: flex;
		justify-content: space-around;
		flex-flow: column;
		max-width: 25%;
		margin: auto;
	}
}
