.imgWrapper {
  height: 150px;
  margin-bottom: 20px;
  margin-right: 10px;
  margin-left: 10px;
}

.babysitterImg {
  width: 100%;
  height: 150px;
}

.description {
  margin-bottom: 20px;
  margin-right: 10px;
  margin-left: 20px;
  /* font-family: 'PT Sans', Sans-Serif; */
}

.zipCodeForm {
  text-align: center;
}

.searchNearYou {
  margin-bottom: 20px;
}

.searchSitterByZipInput {
  margin-bottom: 10px;
}

@media only screen and (min-width: 460px) {
  .babysitterImg {
    max-width: 85%;
    margin-left: 10%;
  }
}

@media only screen and (min-width: 562px) {
  .babysitterImg {
    max-width: 450px;
    margin-left: 15%;
    margin-right: 15%;
  }
  .description {
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
  }
}

@media only screen and (min-width: 1020px) {
  .babysitterImg {
    padding-left: 13%;
  }
  .imgWrapper {
    align-items: center;
  }
  .searchButton {
    width: 100px;
  }
}

@media only screen and (min-width: 1200px) {
  .imgWrapper {
    display: flex;
    justify-content: center;
  }
  .babysitterImg {
    padding-left: 0%;
  }
}
