.login-container {
	text-align: center;
	height: 300px;
}

.login-box {
	height: 200px;
	padding-top: 20px;
}
.fields-container {
	margin-top: 30px;
}

.log {
	margin-top: 30px;
}

.signup-here {
	color: blue;
}
