.login-container {
	text-align: center;
	height: 300px;
}

.login-box {
	height: 200px;
	padding-top: 20px;
	background-color: #e7e5e5;
}
.fields-container {
	margin-top: 30px;
}

.log {
	margin-top: 30px;
}

.signup-here {
	color: blue;
}

.loginText {
	text-align: center;
}

.demoLoginCredentials {
	font-size: 10px;
}

.demoLoginWrapper {
	border: 1px solid #000;
	margin: 10px auto;
	padding-left: 4px;
	padding-right: 4px;
	background: white;
	max-width: 200px;
}

.log {
	margin-top: 64px;
}

@media only screen and (min-width: 562px) {
	.login-box {
		max-width: 80%;
		margin: auto;
	}
}

@media only screen and (min-width: 1020px) {
	.login-box {
		max-width: 40%;
	}
}

@media only screen and (min-width: 1200px) {
	.login-container {
		height: 500px;
		padding-top: 30px;
	}
	.login-box {
		max-width: 20%;
	}
}
