.sign-container {
  display: flex;
  justify-content: center;
  margin-top: 4%;
}

.registration-box {
  text-align: center;
  width: 90%;
  margin: 0 auto;
}

.registration-form {
  height: 275px;
  width: 100%;
  text-align: center;
}

.log-in-here {
  color: blue;
}

.fields-container-2 {
  margin-top: 5%;
  margin-bottom: 5%;
}

.roleSignupField {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  padding-right: 20%;
  padding-left: 20%;
}

.no-account {
  margin-bottom: 20px;
}

@media only screen and (min-width: 412px) {
  .registration-form {
    margin-bottom: 10px;
  }
}

@media only screen and (min-width: 562px) {
  .registration-box {
    max-width: 80%;
  }
  .registration-form {
    margin-bottom: 20px;
  }
}
