.sitterDashParentResult {
	line-height: 30px;
}

.contactParentButton {
	color: whitesmoke;
}

.sitterDashWelcome {
	text-align: center;
}

.sitterDashParentsResultsUl {
	padding-bottom: 10px;
}

@media only screen and (min-width: 600px) {
	.sitterDashParentLi {
		display: flex;
		flex-wrap: wrap;
	}

	.sitterDashParentResultFields {
		margin-right: 20px;
	}
}

@media only screen and (min-width: 1020px) {
	.sitterDashParentLi {
		display: flex;
		justify-content: space-evenly;
		flex-direction: column;
		width: 100%;
	}
	.sitterDashParentsResultsUl {
		max-width: 100%;
	}
	.sitterDashParentResultFields {
		margin-left: 25%;
		margin-bottom: 20px;
	}
}
