.parentBio {
	text-align: center;
}

.createBioInput,
.startTime,
.endTime,
.numberOfChildren,
.ageOfChild,
.zipcode,
.additionalInfo,
.parentBioFormButton {
	font-size: 18px;
}

#additionalInfo {
	height: 100px;
}
.parentInput {
	margin-bottom: 20px;
	border: none;
}

.parentalInputButton {
	width: 100px;
	margin: auto;
}

.parentalNeedsDescription {
	font-size: 1.1em;
}

@media only screen and (min-width: 438px) {
	.parentBioForm {
		display: flex;
		justify-content: space-around;
		flex-flow: column;
		max-width: 25%;
		margin: auto;
	}
}
