.parentBio {
	text-align: center;
}

.createBioInput,
.startTime,
.endTime,
.numberOfChildren,
.ageOfChild,
.zipcode,
.additionalInfo,
.parentBioFormButton {
	font-size: 18px;
}

.parentInput {
	margin-bottom: 20px;
}
